
<h2><%= @user.name %> さんとのメッセージ一覧</h2>



<div class="messages">
  <%= render 'messages/messages', messages: @messages %>
</div>
  
<%# あとでlocal: trueを書き換える　%>
<%= form_with model: @message, :url => {:action => :create}, remote: true do |f| %>
  <%= f.text_area :content %><br>
  <%= f.submit '送信' %>
<% end %>

<%= link_to "Homeへ戻る", user_path(current_user) %>