
<% if user_signed_in? %>
    <% if book.favorited_by?(current_user) %>
      <%= link_to book_favorites_path(book), method: :delete, remote: true, :style=>"color:#9d9d9d;" do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
        <%= book.favorites.count %> 
      <% end %>
    <% else %>
      <%= link_to book_favorites_path(book), method: :post, remote: true, :style=>"color:#9d9d9d;" do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <%= book.favorites.count %> 
      <% end %>
    <% end %>
<% else %>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <%= book.favorites.count %> 
<% end %>



